<nav class="h-20 bg-white px-4 sticky top-0 z-10">
  <div class="flex items-center justify-between h-full">
    <div class="flex items-center justify-between w-full space-x-2 lg:w-auto">
      <a href="{{.Site.BaseURL}}" class="js-trigger">
        <img src="{{"images/logo.png" | absURL }}" alt="">
      </a>
      <button class="text-green-munsell hover:text-indian-red lg:hidden" id="menu-trigger">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 stroke-current" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <line x1="4" y1="6" x2="20" y2="6" />
          <line x1="4" y1="12" x2="20" y2="12" />
          <line x1="4" y1="18" x2="20" y2="18" />
        </svg>
      </button>
    </div>
    <div class="menu-nav text-xs" id="menu-nav">
      <a href="" class="tracking-wide js-trigger hover:text-indian-red">Inicio</a>
      <a href="#proyecto" class="tracking-wide js-trigger hover:text-indian-red">El proyecto</a>
      <a href="#datos" class="tracking-wide js-trigger hover:text-indian-red">Datos</a>
      <a href="#visualizador" class="tracking-wide js-trigger hover:text-indian-red">Visualizador</a>
      <a href="#descarga" class="tracking-wide js-trigger hover:text-indian-red">Descarga de datos</a>
      <div class="flex items-center space-x-2">
        <a href="https://www.facebook.com/alcaldiadepalmira/" target="_blank" rel="noopener noreferrer">
          <img src="{{"images/fb.png" | absURL}}" alt="">
        </a>
        <a href="https://www.instagram.com/alcaldiapalmira" target="_blank" rel="noopener noreferrer">
          <img src="{{"images/ig.png" | absURL}}" alt="">
        </a>
        <a href="https://twitter.com/AlcaldiaPalmira" target="_blank" rel="noopener noreferrer">
          <img src="{{"images/tw.png" | absURL}}" alt="">
        </a>
        <a href="mailto:atencionalciudadano@palmira.gov.co">
          <img src="{{"images/mail.png" | absURL}}" alt="">
        </a>
      </div>
    </div>
  </div>
</nav>